<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

    <title>Zenoss: Device</title>

    <link rel="stylesheet" href="/++resource++ZenPacks_community_ResponsiveUI/css/libs.css">
    <link rel="stylesheet" href="/++resource++ZenPacks_community_ResponsiveUI/css/style.css">

    <script src="/++resource++ZenPacks_community_ResponsiveUI/js/libs.js"></script>

    <script id="componentTemplate" type="text/x-jquery-tmpl">
        <tr>
            <td width="20"><i class="severity-${severity}"></i></td>
            <td>
                <a href="#component_details_panel" data-uid="${uid}" class="compoment_detail_link">
                    ${name}
                </a>
            </td>
        </tr>
    </script>

    <script id="componentFormRow" type="text/x-jquery-tmpl">
        <tr>
            <td>${fieldLabel}</td>
            <td>
                {{if value }}
                    {{if typeof value === 'object'}}
                        ${value.name}
                    {{else}}
                        ${value}
                    {{/if}}
                {{/if}}
            </td>
        </tr>
    </script>

    <script id="eventTemplate" type="text/x-jquery-tmpl">
        <tr>
            <td>${eventState}</td>
            <td><i class="severity-icon${severity}"></i></td>
            <td><a data-ajax="false" href="${component.url}">${component.text}</a></td>
            <td>
                {{if eventClass.text}}
                    <a class="event-summary-btn" href="#popupEvent" data-rel="popup" data-summary="${eventClass.text}">${eventClass.text.trunc(15)}</a>
                {{/if}}
            </td>
            <td>
                {{if summary}}
                    <a class="event-summary-btn" href="#popupEvent" data-rel="popup" data-summary="${summary}">${summary.trunc(40)}</a>
                {{/if}}
            </td>
            <td nowrap>
                ${firstTime}
                </br>
                ${lastTime}
            </td>
            <td class="number">${count}</td>
        </tr>
    </script>

    <script>
        $(function() {
            var uid = location.pathname.split("#")[0].replace("/devicedetail", ""),
                prod_states = [],
                priorities = [],
                device = {},
                components = {},
                meta_type = "",
                device_info = "",
                show_components = function() {
                    var $el = $("#componentBox").find("tbody");
                    $el.html("");

                    //console.log(meta_type);
                    if(!meta_type) return;

                    $.each(components[meta_type], function (k, v) {
                        $el.append($("#componentTemplate").tmpl(v));
                    });
                    $("#componentBox").table('refresh');
                },
                payload = [{
                    "action": "DeviceRouter",
                    "method": "getProductionStates",
                    "data": [{}],
                    "type": "rpc",
                    "tid": 5
                }, {
                    "action": "DeviceRouter",
                    "method": "getPriorities",
                    "data": [{}],
                    "type": "rpc",
                    "tid": 6
                }, {
                    "action": "DeviceRouter",
                    "method": "getInfo",
                    "data": [{
                        "uid": uid,
                        "keys": [
                            "ipAddressString", "deviceClass", "name", "icon", "events", "status", "productionState", "priority", "collector", "createdTime", "location", "groups", "systems", "links", "comments"
                            ]
                        }],
                    "type":"rpc",
                    "tid": 7
                }, {
                    "action": "DeviceRouter",
                    "method": "getComponents",
                    "data": [{
                        "uid": uid,
                        "keys": ["uid", "name", "severity", "usesMonitorAttribute", "monitor", "monitored", "locking", "uuid", "uid", "meta_type"],
                        "page": 1,
                        "start": 0,
                        "limit": 50,
                        "sort": "name",
                        "dir": "ASC"
                    }],
                    "type": "rpc",
                    "tid": 8
                }],
                payload_events = {
                    "action": "EventsRouter",
                    "method": "query",
                    "data": [{
                        "uid": uid,
                        "params": {
                            "eventState": [0,1],
                            "severity": [5,4,3,2],
                            "tags": []
                        },
                        "keys": [
                            "eventState",
                            "severity",
                            "device",
                            "component",
                            "eventClass",
                            "summary",
                            "firstTime",
                            "lastTime",
                            "count",
                            "evid",
                            "eventClassKey",
                            "message"
                        ],
                        "page": 1,
                        "start": 0,
                        "limit": 50,
                        "sort": "severity",
                        "dir": "DESC"
                    }],
                    "type": "rpc",
                    "tid": 9
                },
                payload_graphs = {
                    "action": "DeviceRouter",
                    "method": "getGraphDefs",
                    "data": [{
                        "uid": uid,
                        "drange": 129600
                    }],
                    "type": "rpc",
                    "tid": 10
                };

            $("body>[data-role='panel']").panel();
            $("#sidebar").listview();
            $("#device_components").listview();

            $("#event_details_panel").hide();
            $(document).on('click', '.event_details_panel', function(e) {
                $("#event_details_panel").toggle();
            });

            $("#graphs_details_panel").hide();
            $(document).on('click', '.graphs_details_panel', function(e) {
                $("#graphs_details_panel").toggle();
            });

            $(document).on('click', '.component_link', function(e) {
                meta_type = $(e.target).data("meta");
                if(location.hash == "#component")
                    show_components();
            });

            $(document).on('click', '.compoment_detail_link', function(e) {
                var uid = $(e.target).data("uid");
                $.ajax({
                    url: "../device_router",
                    type: "POST",
                    data: JSON.stringify({
                        "action": "DeviceRouter",
                        "method": "getForm",
                        "data": [{
                            "uid": uid
                            }],
                        "type":"rpc",
                        "tid": 8
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        var $el = $("#component_details").find("tbody"),
                            form = data.result.form.items[0].items;

                        $el.html("");
                        $.each(form, function (k, v) {
                            $el.append($("#componentFormRow").tmpl(v));
                        });
                        //$el.table("refresh");
                    }
                });

                e.preventDefault();
                return false;
            });

            $(document).on("pagebeforeshow", "#component", show_components);

            $(document).on('click', '.event-summary-btn', function(e) {
                $("#popupEvent").html(
                    $(e.target).data("summary")
                );
            });

            $.ajax({
                url: "../device_router",
                type: "POST",
                data: JSON.stringify(payload),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    prod_states = data[0].result.data;
                    priorities = data[1].result.data;
                    device = data[2].result.data;
                    //console.log(data);

                    $.each(data[3].result.data, function (k, v) {
                        var meta_type = ZC.plural(v.meta_type);
                        if (meta_type in components) {
                            components[meta_type].push(v);
                        } else {
                            components[meta_type] = [v];
                        }
                    });

                    $.each(components, function(k, v) {
                        $("#device_components").append(
                            '<li><a class="component_link" href="#component" data-meta="' + k + '">'
                            + k
                            + ' <span class="ui-li-count">'
                            + components[k].length
                            + '</span>'
                            + '</a></li>'
                        );
                    });
                    $("#device_components").listview('refresh');

                    $("title").html("Zenoss: " + device.name);
                    $("#device_name").html(device.name);
                    $("#device_icon").attr("src", device.icon);
                    $(".device_class").html(device.deviceClass.name);

                    $("#device_events").html(
                        ' <i class="severity-critical"></i>' + device.events.critical.count
                        + ' <i class="severity-error"></i>' + device.events.error.count
                        + ' <i class="severity-warning"></i>' + device.events.warning.count
                        + ' <i class="severity-info"></i>' + device.events.info.count
                    );

                    if (device.status)
                        $("#device_status").html('<i class="big-status-up"></i> Up');

                    $.each(prod_states, function (k, v) {
                        if (v.value == device.productionState)
                            $("#device_prod_state").html(v.name);
                    });

                    $.each(priorities, function (k, v) {
                        if (v.value == device.priority)
                            $("#device_priority").html(v.name);
                    });

                    var add_info = function(title, items) {
                        var res = title + ": <p>";
                        $.each(items, function (k, v) {
                            if (v)
                                res += "<a  data-ajax='false' href='" + v.uid + "'>" + v.name + "</a><br />";
                        });
                        res += "</p>";
                        return res;
                    }
                    device_info += "Collector: <p>" + device.collector + "</p>";
                    device_info += add_info("Systems", device.systems);
                    device_info += add_info("Groups", device.groups);
                    device_info += add_info("Location", [device.location])
                    device_info += "Links: <p>" + device.links + "</p>";
                    device_info += "Comments: <p>" + device.comments + "</p>";
                    $("#device_info").html(device_info);
                }
            });

            // Fetch events
            $.ajax({
                url: "/zport/dmd/Events/evconsole_router",
                type: "POST",
                data: JSON.stringify(payload_events),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    var $el = $("#eventBox").find("tbody"),
                        items = data.result.events;

                    //console.log(items);
                    
                    $.each(items, function (k, item) {
                        $el.append($("#eventTemplate").tmpl(item));
                    });
                    $("#eventBox").table('refresh');
                }
            });

            // Fetch graphs
            $.ajax({
                url: "../device_router",
                type: "POST",
                data: JSON.stringify(payload_graphs),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    var $el = $("#graphs_details_panel");

                    if (data.result.data.length > 0)
                        $el.html("");
                    //console.log(data.result.data);

                    $.each(data.result.data, function (k, item) {
                        $el.append("<h3>" + item.title + "</h3>"
                            + "<img class='device-graph' src='" + item.url + "' />"
                        );
                    });
                }
            });
        });
    </script>
</head>

<body>
    <div data-role="page"  id="deviceDetailNav">
        <div data-role="header">
            <div id="mobile_header"></div>
            <a href="#menu_panel" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-right">Menu</a>
        </div>

        <div role="main" class="ui-content">
            <ul id="deviceBox" data-role="listview">
                <li>
                    <img id="device_icon" src="" />
                    <h2 id="device_name">Device</h2>
                    <p class="device_class"></p>
                </li>
                <li>
                    <h2 id="device_events"></h2>
                </li>
                <li>
                    <h2 id="device_status"><i class="big-status-down"></i> Down</h2>
                    <p>DEVICE STATUS</p>
                </li>
                <li>
                    <h2><a class="event_details_panel">EVENTS &#8595;</a></h2>

                    <div id="event_details_panel">
                        <table data-role="table" id="eventBox" data-mode="reflow" class="table-stripe ui-responsive" data-column-btn-theme="b">
                            <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Severity</th>
                                    <th data-priority="3">Component</th>
                                    <th data-priority="2">Event&nbsp;Class</th>
                                    <th data-priority="3">Summary</th>
                                    <th data-priority="4">First&nbsp;Seen<br />Last&nbsp;Seen</th>
                                    <th data-priority="6">Count</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </li>
                <li>
                    <h2><a class="graphs_details_panel">GRAPHS &#8595;</a></h2>
                    <div id="graphs_details_panel">No graphs data</div>
                </li>
                <li>
                    <h2 id="device_prod_state"></h2>
                    <p>PRODUCTION STATE</p>
                </li>
                <li>
                    <h2 id="device_priority"></h2>
                    <p>PRIORITY</p>
                </li>
                <li>
                    <h2 id="device_info"></h2>
                    <p></p>
                </li>
            </ul>
            <div data-role="popup" id="popupEvent" class="ui-content" data-theme="a"></div>
        </div>
    </div>

    <div data-role="page"  id="component">
        <div data-role="header">
            <div id="mobile_header"></div>
            <a href="#menu_panel" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-right">Menu</a>
            <a href="#deviceDetailNav" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>
        </div>

        <div role="main" class="ui-content">
            <table data-role="table" id="componentBox" class="table-stripe ui-responsive" data-column-btn-theme="b">
                <thead>
                    <tr>
                        <th>Severity</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div data-role="panel" id="component_details_panel" data-position="right" data-display="overlay" data-theme="a">
            <h4>Details</h4>
            <table data-role="table" id="component_details" class="table-stripe ui-responsive" data-column-btn-theme="b">
                <tbody></tbody>
            </table>
        </div>
    </div>

    <div data-role="panel" id="menu_panel" data-display="overlay" data-theme="a">
        <ul id="sidebar">
            <li><a data-ajax="false" href="/zport/dmd/Dashboard">Dashboard</a></li>
            <li><a data-ajax="false" href="/zport/dmd/Events/evconsole">Events</a></li>
            <li><a data-ajax="false" href="/zport/dmd/itinfrastructure">Infrastructure</a></li>
            <li><a data-ajax="false" href="/zport/dmd/reports">Reports</a></li>
            <li><a data-ajax="false" href="/zport/dmd/editSettings">Advanced</a></li>
            <li>
                Components
                <ul id="device_components">
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>