<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

    <title>Zenoss: Events</title>

    <link rel="stylesheet" href="/++resource++ZenPacks_community_ResponsiveUI/css/libs.css">
    <link rel="stylesheet" href="/++resource++ZenPacks_community_ResponsiveUI/css/style.css">

    <script src="/++resource++ZenPacks_community_ResponsiveUI/js/libs.js"></script>

    <script id="eventTemplate" type="text/x-jquery-tmpl">
        <tr>
            <td>${eventState}</td>
            <td><i class="severity-icon${severity}"></i></td>
            <td>
                <a data-ajax="false" href="${device.url}">${device.text}</a>
                {{if component}}
                    <a data-ajax="false" href="${component.url}">
                        {{if component.text }}
                            ${component.text.trunc(20)}
                        {{/if}}
                    </a>
                {{/if}}
            </td>
            <td>
                {{if eventClass.text}}
                    <a class="event-summary-btn" href="#popupEvent" data-rel="popup" data-summary="${eventClass.text}">${eventClass.text.trunc(15)}</a>
                {{/if}}
            </td>
            <td>
                {{if summary}}
                    <a class="event-summary-btn" href="#popupEvent" data-rel="popup" data-summary="${summary}">${summary.trunc(40)}</a>
                {{/if}}
            </td>
            <td nowrap>
                ${firstTime}
                </br>
                ${lastTime}
            </td>
            <td class="number">${count}</td>
        </tr>
    </script>

    <script>
        $(function() {
            var events = [],
                payload = {
                    "action": "EventsRouter",
                    "method": "query",
                    "data": [{
                        "uid": "/zport/dmd",
                        "params": {
                            "eventState": [0,1],
                            "severity": [5,4,3,2],
                            "tags": []
                        },
                        "keys": [
                            "eventState",
                            "severity",
                            "device",
                            "component",
                            "eventClass",
                            "summary",
                            "firstTime",
                            "lastTime",
                            "count",
                            "evid",
                            "eventClassKey",
                            "message"
                        ],
                        "page": 1,
                        "start": 0,
                        "limit": 50,
                        "sort": "severity",
                        "dir": "DESC"
                    }],
                    "type": "rpc",
                    "tid": 1
                }

            $(document).on('click', '.event-summary-btn', function(e) {
                $("#popupEvent").html(
                    "<pre>"
                    + $(e.target).data("summary")
                    + "</pre>"
                );
            });

            $.ajax({
                url: "/zport/dmd/Events/evconsole_router",
                type: "POST",
                data: JSON.stringify(payload),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    var $el = $("#eventBox").find("tbody"),
                        items = data.result.events;

                    console.log(data);
                    
                    $.each(items, function (k, item) {
                        $el.append($("#eventTemplate").tmpl(item));
                    });
                    $("#eventBox").table('refresh');
                }
            });
        });
    </script>
</head>

<body>
    <div data-role="page" id="evconsole">
        <div data-role="header">
            <div id="mobile_header"></div>
            <a href="#menu_panel" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-right">Menu</a>
        </div>

        <div role="main" class="ui-content">
            <table data-role="table" id="eventBox" data-mode="reflow" class="table-stripe ui-responsive" data-column-btn-theme="b">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Severity</th>
                        <th>Resource<br />Component</th>
                        <th data-priority="2">Event&nbsp;Class</th>
                        <th data-priority="3">Summary</th>
                        <th data-priority="4">First&nbsp;Seen<br />Last&nbsp;Seen</th>
                        <th data-priority="6">Count</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div data-role="popup" id="popupEvent" class="ui-content" data-theme="a"></div>
        </div>

        <div data-role="panel" id="menu_panel" data-display="overlay">
            <ul data-role="listview">
                <li><a data-ajax="false" href="/zport/dmd/Dashboard">Dashboard</a></li>
                <li><a data-ajax="false" href="/zport/dmd/Events/evconsole">Events</a></li>
                <li><a data-ajax="false" href="/zport/dmd/itinfrastructure">Infrastructure</a></li>
                <li><a data-ajax="false" href="/zport/dmd/reports">Reports</a></li>
                <li><a data-ajax="false" href="/zport/dmd/editSettings">Advanced</a></li>
            </ul>
        </div>

        <div data-role="footer" data-position="fixed">
            <a href="http://www.zenoss.com/">Zenoss Inc.</a>
            <a href="http://www.zenoss.org/">Community</a>
        </div>
    </div>
</body>
</html>