<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">

    <title>Zenoss: Devices</title>

    <link rel="stylesheet" href="/++resource++ZenPacks_community_ResponsiveUI/css/libs.css">
    <link rel="stylesheet" href="/++resource++ZenPacks_community_ResponsiveUI/css/style.css">

    <script src="/++resource++ZenPacks_community_ResponsiveUI/js/libs.js"></script>

    <script id="deviceTemplate" type="text/x-jquery-tmpl">
        <tr>
            <td><a data-ajax="false" href="${uid}">${name}</a></td>
            <td>${ipAddressString}</td>
            <td>${deviceClass.name}</td>
            <td>
                <i class="severity-critical"></i> ${events.critical.count}
                <i class="severity-error"></i> ${events.error.count}
                <i class="severity-warning"></i> ${events.warning.count}
            </td>
        </tr>
    </script>

    <script>
        $(function() {
            var devices = [],
                payload = [
                {
                    "action": "DeviceRouter",
                    "method": "getDevices",
                    "data": [{
                        "uid": "/zport/dmd/Devices",
                        "keys": [
                            "name",
                            "ipAddress",
                            "uid",
                            "productionState",
                            "events",
                            "ipAddressString",
                            "pythonClass",
                            "deviceClass"
                        ],
                        "params": {},
                        "page": 1,
                        "start": 0,
                        "limit": 100,
                        "sort": "name",
                        "dir": "ASC"
                    }],
                    "type": "rpc",
                    "tid": 1
                }, {
                    "action": "DeviceRouter",
                    "method": "getInfo",
                    "data": [{
                        "uid": "/zport/dmd/Devices",
                        "keys": ["events"]
                    }],
                    "type": "rpc",
                    "tid": 2
                }
            ];

            $.ajax({
                url: "/zport/dmd/device_router",
                type: "POST",
                data: JSON.stringify(payload),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    var $el = $("#deviceBox").find("tbody"),
                        devices = data[0].result.devices;

                    //console.log(data);
                    //$("#deviceTemplate").tmpl(devices).appendTo("#deviceBox");

                    $.each(devices, function (k, device) {
                        $el.append($("#deviceTemplate").tmpl(device));
                    });
                    $("#deviceBox").table('refresh');
                }
            });
        });
    </script>
</head>

<body>
    <div data-role="page"  id="itinfrastructure">
        <div data-role="header">
            <div id="mobile_header"></div>
            <a href="#menu_panel" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon ui-btn-left">Menu</a>
        </div>

        <div role="main" class="ui-content">
            <!-- <ul id="deviceBox" data-role="listview" data-filter="true"></ul> -->
            <table data-role="table" id="deviceBox" data-mode="columntoggle" class="table-stripe ui-responsive" data-column-btn-theme="b">
                <thead>
                    <tr>
                        <th>Device</th>
                        <th data-priority="1">IP Address</th>
                        <th data-priority="2">Device Class</th>
                        <th>Events</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div data-role="panel" id="menu_panel" data-display="overlay">
            <ul data-role="listview">
                <li><a data-ajax="false" href="/zport/dmd/Events/evconsole">Events</a></li>
                <li><a data-ajax="false" href="/zport/dmd/itinfrastructure">Infrastructure</a></li>
            </ul>
        </div>
    </div>
</body>
</html>