<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10, user-scalable=yes">
    <meta responsiveuimarker="true">

    <title>Zenoss: Devices</title>

    <link rel="stylesheet" href="/++resource++ZenPacks_community_ResponsiveUI/css/libs.css">
    <link rel="stylesheet" href="/++resource++ZenPacks_community_ResponsiveUI/css/style.css">

    <script src="/++resource++ZenPacks_community_ResponsiveUI/js/libs.js"></script>

    <script>
        var Zenoss = {
            env: {
                device_tree_data: []
            }
        };
        %(device_tree_data)s
    </script>

    <script id="deviceTemplate" type="text/x-jquery-tmpl">
        <tr>
            <td><a data-ajax="false" href="${uid}">${name}</a></td>
            <td>${ipAddressString}</td>
            <td>
                <a data-ajax="false" class="device_class_btn" data-id="${deviceClass.id}" data-uid="${deviceClass.uid}" href="/zport/dmd/itinfrastructure#devices:${deviceClass.id}">
                    ${deviceClass.name}</a>
            </td>
            <td>
                <i class="severity-critical"></i> ${events.critical.count}
                <i class="severity-error"></i> ${events.error.count}
                <i class="severity-warning"></i> ${events.warning.count}
            </td>
        </tr>
    </script>

    <script>
        $(function() {
            var devices = [],
                device_class = "/zport/dmd/Devices",
                prod_states = [],
                priorities = [],
                current_page = 1,
                total_pages = 1,
                total_items = 0,
                per_page = 50,
                payload = [
                {
                    "action": "DeviceRouter",
                    "method": "getDevices",
                    "data": [{
                        "uid": device_class,
                        "keys": [
                            "name",
                            "ipAddress",
                            "uid",
                            "productionState",
                            "events",
                            "ipAddressString",
                            "pythonClass",
                            "deviceClass"
                        ],
                        "params": {},
                        "page": 1,
                        "start": 0,
                        "limit": per_page,
                        "sort": "name",
                        "dir": "ASC"
                    }],
                    "type": "rpc",
                    "tid": 1
                }, {
                    "action": "DeviceRouter",
                    "method": "getInfo",
                    "data": [{
                        "uid": "/zport/dmd/Devices",
                        "keys": ["events"]
                    }],
                    "type": "rpc",
                    "tid": 2
                }, {
                    "action": "DeviceRouter",
                    "method": "getProductionStates",
                    "data": [{}],
                    "type": "rpc",
                    "tid": 5
                }, {
                    "action": "DeviceRouter",
                    "method": "getPriorities",
                    "data": [{}],
                    "type": "rpc",
                    "tid": 6
                }
            ];

            if (location.hash.indexOf("#devices:") > -1) {
                device_class = location.hash.replace("#devices:", "").split('.').join('/');
                //console.log(device_class);
                payload[0].data[0].uid = device_class;
            }

            var load_devices = function() {
                payload[0].data[0].page = current_page;
                payload[0].data[0].start = (current_page - 1) * per_page;

                $.ajax({
                    url: "/zport/dmd/device_router",
                    type: "POST",
                    data: JSON.stringify(payload),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        var $el = $("#deviceBox").find("tbody"),
                            devices = data[0].result.devices,
                            prod_states = data[2].result.data,
                            priorities = data[3].result.data;

                        //console.log(data);
                        //$("#deviceTemplate").tmpl(devices).appendTo("#deviceBox");

                        total_items = data[0].result.totalCount;
                        total_pages = Math.ceil(total_items / per_page);

                        $el.html("");
                        $("#deviceBox").table('refresh');
                        $.each(devices, function (k, device) {
                            device.deviceClass.id = device.deviceClass.uid.split('/').join('.');
                            $el.append($("#deviceTemplate").tmpl(device));
                        });
                        $("#deviceBox").table('refresh');

                        $.each(priorities, function (k, v) {
                            var selected = "";
                            if (v.name == "Normal")
                                selected = ' selected';
                            $("#form_priority").append('<option' + selected + ' value="' + v.value + '">' + v.name + '</option>');
                        });
                        $("#form_priority").selectmenu('refresh', true);

                        $.each(prod_states, function (k, v) {
                            var selected = "";
                            if (v.name == "Production")
                                selected = ' selected';
                            $("#form_prod_state").append('<option' + selected + ' value="' + v.value + '">' + v.name + '</option>');
                        });
                        $("#form_prod_state").selectmenu('refresh', true);

                        refresh_paginator();
                    }
                });
            };

            var refresh_paginator = function() {
                var prev = $(".paginator_left"),
                    next = $(".paginator_right");

                prev.button("enable");
                next.button("enable");
                if (current_page == 1)
                    prev.button("disable");
                if (current_page == total_pages)
                    next.button("disable");

                $(".paginator_total").html("page " + current_page + " of " + total_pages
                    // + ", " + total_items + " devices"
                );
            };

            load_devices();

            $(document).on('click', '.device_class_btn', function(e) {
                e.preventDefault();

                device_class = $(e.target).data("uid");
                payload[0].data[0].uid = device_class;
                load_devices();

                location.hash = "devices:" + $(e.target).data("id");
                return false;
            });

            $(document).on('click', '.add_device_btn', function(e) {
                var payload = {
                    "action": "DeviceRouter",
                    "method": "addDevice",
                    "data": [{
                        "deviceName": $("#form_name_or_ip").val(),
                        "deviceClass": $("#form_device_class").val(),
                        "collector": $("#form_collector").val(),
                        "model": $("#form_model").is(':checked'),
                        "title": $("#form_title").val(),
                        "productionState": $("#form_prod_state").val(),
                        "priority": $("#form_priority").val(),
                        "snmpCommunity": "",
                        "snmpPort": "161",
                        "tag": "",
                        "rackSlot": "",
                        "serialNumber": "",
                        "hwManufacturer": "",
                        "hwProductName": "",
                        "osManufacturer": "",
                        "osProductName": "",
                        "comments": "",
                        "groupPaths": [],
                        "systemPaths": []
                    }],
                    "type": "rpc",
                    "tid": 443
                };

                $.ajax({
                    url: "/zport/dmd/device_router",
                    type: "POST",
                    data: JSON.stringify(payload),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        $("#add_device").html("Add Device job submitted!");
                        setTimeout(function () {
                            location.href="/zport/dmd/itinfrastructure";
                        }, 1000);
                    }
                });
            });

            var append_device_class = function(v) {
                var short_name = v.uid.replace("/zport/dmd/Devices", "");
                //console.log(v);
                $("#device_classes_list").append(
                    '<li><a data-ajax="false" class="device_class_btn" '
                    + 'data-uid="'+ v.uid + '" '
                    + 'data-id="'+ v.id + '" '
                    + 'href="/zport/dmd/itinfrastructure#devices:' + v.id + '">'
                    + short_name
                    + '</a></li>'
                );
                
                $("#form_device_class").append(
                    "<option value='" + short_name + "'>" + short_name + "</option>"
                );
                
                $.each(v.children, function (k, v2) {
                    append_device_class(v2);
                });
            };

            $("#device_classes_list").listview();
            $.each(Zenoss.env.device_tree_data[0].children, function (k, v) {
                append_device_class(v);
            });
            $("#device_classes_list").listview('refresh');

            $(document).on('click', '.paginator_left', function(e) {
                e.preventDefault();
                if (current_page == 1) return;

                current_page -= 1;
                load_devices();

                return false;
            });

            $(document).on('click', '.paginator_right', function(e) {
                e.preventDefault();
                if (current_page == total_pages) return;

                current_page += 1;
                load_devices();

                return false;
            });
        });
    </script>
</head>

<body>
    <div data-role="page" id="itinfrastructure">
        <div data-role="header">
            <div id="mobile_header"></div>
            <div data-type="horizontal" data-role="controlgroup" class="ui-btn-right">
                <a href="#add_device" class="ui-btn ui-corner-all" data-rel="popup">Add device</a>
                <a href="#menu_panel" class="jqm-navmenu-link ui-btn ui-btn-icon-notext ui-corner-all ui-icon-bars ui-nodisc-icon ui-alt-icon">Menu</a>
            </div>
        </div>

        <div role="main" class="ui-content">
            <!-- <ul id="deviceBox" data-role="listview" data-filter="true"></ul> -->
            <table data-role="table" id="deviceBox" data-mode="columntoggle" class="table-stripe ui-responsive" data-column-btn-theme="b">
                <thead>
                    <tr>
                        <th>Device</th>
                        <th data-priority="1">IP Address</th>
                        <th data-priority="2">Device Class</th>
                        <th>Events</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <div data-role="popup" id="add_device" class="ui-content" data-theme="a">
                <div style="padding:10px 20px;">
                    <h3>Add a Single Device</h3>
                    
                    <label for="form_name_or_ip" class="ui-hidden-accessible">Name or IP:</label>
                    <input type="text" name="deviceName" id="form_name_or_ip" value="" placeholder="Name or IP" data-theme="a">
                    
                    <label for="form_title" class="ui-hidden-accessible">Title:</label>
                    <input name="title" id="form_title" value="" placeholder="Title" data-theme="a">
                    
                    <label for="form_device_class" class="ui-hidden-accessible">Device Class:</label>
                    <select name="deviceClass" id="form_device_class" value="/" placeholder="/" data-theme="a">
                        <option selected value="/">/</option>>
                    </select>
                    
                    <label for="form_collector" class="ui-hidden-accessible">Collector:</label>
                    <input name="collector" id="form_collector" value="localhost" placeholder="Collector" data-theme="a">

                    <label for="form_prod_state" class="ui-hidden-accessible">Production State:</label>
                    <select name="productionState" id="form_prod_state" placeholder="Production State" data-theme="a">
                    </select>

                    <label for="form_priority" class="ui-hidden-accessible">Device Priority:</label>
                    <select name="priority" id="form_priority" placeholder="Device Priority" data-theme="a">
                    </select>

                    <label><input type="checkbox" id="form_model" name="model" checked="checked"> Model Device</label>

                    <a class="add_device_btn ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Add</a>
                </div>
            </div>
        </div>

        <div data-role="panel" id="menu_panel" data-display="overlay">
            <ul data-role="listview">
                <!-- <li><a data-ajax="false" href="/zport/dmd/Dashboard">Dashboard</a></li> -->
                <li><a data-ajax="false" href="/zport/dmd/Events/evconsole">Events</a></li>
                <li><a data-ajax="false" href="/zport/dmd/itinfrastructure">Infrastructure</a></li>
                <!-- <li><a data-ajax="false" href="/zport/dmd/reports">Reports</a></li>
                <li><a data-ajax="false" href="/zport/dmd/editSettings">Advanced</a></li> -->
                <li><a href="http://www.zenoss.com/">Zenoss Inc.</a></li>
                <li><a href="http://www.zenoss.org/">Community</a></li>
                <li>
                    Devices
                    <ul id="device_classes_list">
                        <li>
                            <a data-ajax="false" class="device_class_btn" data-id=".zport.dmd.Devices" data-uid="/zport/dmd/Devices" href="/zport/dmd/itinfrastructure">/</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div data-role="footer" data-position="fixed">
            <input data-role="button" type="button" class="paginator_left" value="Previous page" />
            <span class="paginator_total"></span>
            <input data-role="button" type="button" class="paginator_right" value="Next page" />
            <!-- <div data-type="horizontal" data-role="controlgroup" class="ui-btn-right">
                <a href="http://www.zenoss.com/">Zenoss Inc.</a>
                <a href="http://www.zenoss.org/">Community</a>
            </div> -->
        </div>
    </div>
</body>
</html>