#mobile_header {
	height: 45px;
	background: url('/zport/dmd/logo.png') no-repeat scroll 55px 7px transparent;
	background-color: rgba(0, 0, 0, 0.7);
}

.severity-critical,
.severity-error,
.severity-warning {
	display: inline-block;
	height: 14px;
	width: 16px;
	background: url('/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite.png') no-repeat scroll 0px 0px transparent;
}

.severity-error {
	background-position: 0px -20px;
}

.severity-warning {
	background-position: 0px -38px;
}