#mobile_header {
	height: 45px;
	background: url('/zport/dmd/logo.png') no-repeat scroll 55px 7px transparent;
	background-color: rgba(0, 0, 0, 0.7);
}

.severity-critical,
.severity-error,
.severity-warning,
.severity-info,
.severity-clear,
.severity-icon5,
.severity-icon4,
.severity-icon3,
.severity-icon2 {
	display: inline-block;
	height: 14px;
	width: 16px;
	background: url('/++resource++zenui/img/xtheme-zenoss/icon/severity-sprite.png') no-repeat scroll 0px 0px transparent;
}

.severity-error,
.severity-icon4 {
	background-position: 0px -20px;
}

.severity-warning,
.severity-icon3 {
	background-position: 0px -38px;
}

.severity-info,
.severity-icon2 {
	background-position: 0px -60px;
}

.severity-clear {
	background-position: 0px -100px;
}

#deviceBox #device_icon {
	padding-top: 20px;
	padding-left: 20px;
}

.big-status-up,
.big-status-down {
	display: inline-block;
	height: 28px;
	width: 20px;
	background: url('/++resource++zenui/img/up-down-sprite.png') no-repeat scroll 0px -55px transparent;
}

.big-status-down {
	background-position: 0px -85px;
}

.number {
	text-align: right !important;
}